html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #21889a;
    /* Initial background color */
    padding: 15px 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: aquamarine;
}

.scrolled {
    background-color: #111;
    /* New background color when scrolled */
}

.pimg1 {
    background-image: url(https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_640.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.pimg2 {
    background-image: url(https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_640.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.pimg3 {
    background-image: url(https://cdn.pixabay.com/photo/2014/09/07/22/17/forest-438432_640.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textBg {
    background: #313534;
    color: #fff;
    padding: 20px;
}

.section {
    padding: 50px 80px;
    text-align: center;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}